[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
aws-lambda-powertools = "~=1.22"
boto3 = "~=1.20"
botocore = "~=1.23"
black = "*"
flake8 = "*"
flake8-polyfill = "*"
isort = "*"
mypy = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
radon = "*"
snapshottest = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python3 -m pytest --cov --cov-report=term"
'test:updatesnapshots' = "python3 -m pytest --snapshot-update"
cover = "python3 -m coverage html"
complexity = "python3 -m radon cc notify_slack.py -a"
halstead = "python3 -m radon hal notify_slack.py"
typecheck = "python3 -m mypy . --ignore-missing-imports"
lint = "python3 -m flake8 . --count --statistics --benchmark --exit-zero --config=.flake8"
'lint:ci' = "python3 -m flake8 . --config=.flake8"
imports = "python3 -m isort . --profile black"
format = "python3 -m black ."

[pipenv]
allow_prereleases = true
