[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
boto3 = "~=1.34"
botocore = "~=1.34"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
radon = "*"
snapshottest = "~=0.6"

[requires]
python_version = "3.11"

[scripts]
test = "python3 -m pytest --cov --cov-report=term"
'test:updatesnapshots' = "python3 -m pytest --snapshot-update"
cover = "python3 -m coverage html"
complexity = "python3 -m radon cc notify_slack.py -a"
halstead = "python3 -m radon hal notify_slack.py"
typecheck = "python3 -m mypy . --ignore-missing-imports"
lint = "python3 -m flake8 . --count --statistics --benchmark --exit-zero --config=.flake8"
'lint:ci' = "python3 -m flake8 . --config=.flake8"
imports = "python3 -m isort . --profile black"
format = "python3 -m black ."

[pipenv]
allow_prereleases = true
