name: Unit Test

on:
  pull_request:
    branches:
      - main
      - master
    paths:
      - 'functions/**'
      - '.github/workflows/unit-test.yml'

defaults:
  run:
    working-directory: functions

jobs:
  test:
    name: Execute unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install pipenv
        run: |
          python -m pip install --upgrade pip
          python -m pip install pipenv

      - name: Install local deps
        run: pipenv install --dev

      - name: Lint check
        run: pipenv run lint:ci

      - name: Type check
        run: pipenv run typecheck

      - name: Unit tests
        run: pipenv run test
